* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1a191f;
    color: white;
  }
  
  button {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
  }
  
  a {
    color: inherit;
    font-size: inherit;
    text-decoration: inherit;
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  h1 {
    margin: 0;
    font-weight: normal;
  }
  .primary {
    color: #ffd80e;
  }
  
  .content {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    height: 100%;
  }
  
  header {
    height: 80px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    background: #1a191f;
  }
  
  header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  main {
    margin-top: 80px;
  }
  
  .menu {
    text-transform: uppercase;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
  }
  
  section,
  article {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  section h1 {
    margin-bottom: 30px;
    font-size: 32px;
  }
  
  .slider {
    background: linear-gradient(#1a191f, rgba(26, 25, 31, 0.8), #1a191f),
      url("https://dmitryvolkov.me/demo/hotflix2.0/main/img/home/home__bg.jpg")
        center / cover;
    margin-top: 50px;  
    background-position: center;  
  }

  .content-tittle-nav,
  .btn-slider{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 15px;
  }

  

  .slider-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .poster {
    width: 100%;
    position: relative;
  }
  .poster:hover .poster-play {
    opacity: 1;
  }
  .poster:hover .poster-img::after {
    opacity: 0.5;
  }
  .poster-img {
    position: relative;
  }
  .poster-img img {
    width: 100%;
    display: block;
  }
  .poster-img::after {
    content: "";
    transition: opacity 0.5s ease;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
  }
  .poster-rating {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid green;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .poster-rating--low {
    border-color: red;
  }
  .poster-play {
    display: block;
    transition: opacity 0.5s ease;
    opacity: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 10;
  }
  .poster-title {
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 6px;
  }
  .poster-genre-list {
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    display: flex;
    color: #ffd80e;
  }
  .poster-genre-item {
    margin-right: 6px;
  }
  
  .slider .poster-title {
    font-size: 20px;
  }
  
  .tabs {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
  }
  
  .tabs-item {
    height: 50px;
    text-transform: uppercase;
    margin-right: 24px;
  }
  .tabs-item:hover {
    box-shadow: inset 0 -2px 0 #ffd80e;
  }
  
  .expected {
    background: url("https://dmitryvolkov.me/demo/hotflix2.0/main/img/section/section.jpg")
      center / cover;
  }
  .expected-list,
  .new-items-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 30px;
  }

  .article-text{
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

span.bold {
    font-weight: 700;
    color: white;

}
a.article-link{
    color:  #ffd80e;
    text-decoration: none;
}
  
  footer {
    height: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .footer-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .right,
  .left {
    display: flex;
    align-items: center;
    
  }
  .left > *,
  .right > * {
    margin-right: 20px;
  }
  
  p.copyright {
    color: rgba(255,255,255,0.3);
    font-size: 15px;
  }
  .right button.return-to-main {
    margin-right: 40px;
    margin-top: 0px;
    /* margin-bottom: -20px; */
    border-radius: 10px;
    background-color:  #1a191f;
    cursor: pointer;
    width: 50px;
    height: 60px;
    border: 1px solid #ffd80e;
    color: rgba(255,255,255,0.6);
}
i.fa-arrow-up {
    color:  rgba(255,255,255,0.3);
    
}